*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(background.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 15px;
    margin: 22%;
    width: 60%;
    height: 90%;
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
}

.hero img{
    width: 250px;
    margin-top: 50px;
}

.hero p{
    margin-top: 20px;
    font-size: 30px;
    color: #09f115;
}

.prenotazioni{
    border: 1px solid #09f115;
    position: absolute;
    background: #09f115;
    width: 80%;
    margin: 10% 10%;
    margin-top: 10px;
    height: 40px;
}

.prenotazioni a{
    text-decoration: none;
    position: relative;
    border: 1px solid #818181;
    border-radius: 2px;
    margin: 5px;
    background: #fff;
    color: #000;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    
}

.utenti{
    margin-top: 80px;
}
.monopattini{
    margin-top: 30px;
    margin-left: 10%;
    text-align: left;
}

.monopattini h3{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.monopattini p{
    margin-top: 5px;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}

.carica1{
    margin-top: 10px;
    border: 1px solid #f4a460;
    border-radius: 5px;
    height: 30px;
    background: #f4a460;
    width: 40%;
}

.carica2{
    margin-top: 10px;
    border: 1px solid #19ad05;
    border-radius: 5px;
    height: 30px;
    background: #19ad05;
    width: 55%;
}

.carica3{
    margin-top: 10px;
    border: 1px solid #af3232;
    border-radius: 5px;
    height: 30px;
    background: #af3232;
    width: 15%;
}